body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0, 0, 0, 0.8);
}

.logo {
  color: #00d2ff;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.auth-buttons .btn {
  padding: 8px 15px;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.login {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.signup {
  background: #00d2ff;
  color: black;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background:
    linear-gradient(to bottom, #000000cc, #0f172a),
    url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4")
      center/cover;
}

.hero h2 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
  color: #cbd5f5;
}

/* VIDEOS */
.video-section {
  padding: 30px;
}

.video-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.video-row video {
  width: 300px;
  height: 170px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.video-row video:hover {
  transform: scale(1.1);
}
.hidden {
  display: none;
}

.page-section {
  padding: 40px;
  background: #020617;
  margin-top: 20px;
  border-top: 1px solid #334155;
}
/* MOVIES GRID */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 20px;
}

.movie-card {
  background: #020617;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.08);
}

.movie-card video {
  width: 100%;
  height: 140px;
  object-fit: cover;
  background: black;
}

.movie-card h4 {
  padding: 10px;
  margin: 0;
  font-size: 1rem;
  text-align: center;
}
.player-page {
  padding: 40px;
  text-align: center;
}

.player-page video {
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.search-input {
  width: 300px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  border: none;
}
